<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta name="keywords" content="Squad page FDND 2022" />
    <meta name="description" content="Squad page FDND 2022" />
    <meta name="author" content="Sascha Davidson" content="Calvin Davidson" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="links/favicone-07.svg" />

    <title>Connect your tribe squad page</title>
  </head>
  <body>
