<%- include('./partials/head') %>
  <section class="site-title">
    <section class="title">
      <h1>FDND squad B landings pagina</h1>
    </section>
    <section class="filter">
      <p>filter</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
  </section>
  <section class="squad">

  </section>
  <%- include('./partials/foot') %>