:root {
  --border: 30px;
  --box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  --light: #fff;
  --primary: #2a384b;
  --secondary: #0b0f19;

  --orange: orange;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: #0b0f19;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

h1 {
  font-size: clamp(1.6em, 7vw, 1.8em);
  color: var(--light);
}

h1 span{
  color: var(--orange);
}

p {
  font-size: 1.5em;
  color: var(--light);
}

.site-title {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-between;
  /* gap: 1em; */
}

.filter {
  display: flex;
  align-items: center ;
  gap: 0.5em;
  overflow-x: auto;
  padding-top: 1em;
  white-space:nowrap;
}

.filter ul {
  display: flex;
  list-style: none;
  gap: 0.5em;
}

.filter ul li a {
  display: flex;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  padding: .5em 1em;
  margin: 0 .15em;
  font-size: 1,125em;
  color: var(--light);
  background-color: var(--primary);
  border-radius: var(--border);
}

.filter ul li a:hover {
  background-color: var(--orange);
}

.squad {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 6em - 84px);
  background-color: var(--primary);
  border-radius: var(--border);
}


.member {
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1em;
  border: none;
  min-width: calc(var(--size) * 4px);
  background-color: var(--bg-color, --orange);
  font-size: 1.125em;
  overflow: hidden;
}

.member:hover,.member:focus {
transform: scale(.8);
}

@media screen and (min-width: 600px) {
  .member {
    min-width: calc(var(--size) * 7px);
  }
}

@media screen and (min-width: 1000px) {
  .site-title {
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .filter{
    padding-top: 0;
  }

  .squad {
    min-height: calc(100vh - 6em - 34.4px);
  }
}
