:root {
  --border: 30px;
  --box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  --light: #fff;
  --primary: #2a384b;
  --secondary: #0b0f19;

  --orange: orange;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: #0b0f19;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  font-size: clamp(1.6em, 7vw, 1.8em);
  color: var(--light);
}

h1 span {
  color: var(--orange);
}

p {
  font-size: 1.5em;
  color: var(--light);
}

hr {
  width: 100%;
  height: 0.25em;
  color: black;
  background-color: black;
  border: none;
  border-radius: var(--border);
  margin: 1em auto;
}

.site-title {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: space-between;
  /* gap: 1em; */
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.5em;
  overflow-x: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  white-space: nowrap;
}

.filter ul {
  display: flex;
  list-style: none;
  gap: 0.5em;
}

.filter ul li a {
  display: flex;
  width: fit-content;
  height: fit-content;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 0.15em;
  font-size: 1, 125em;
  color: var(--light);
  background-color: var(--primary);
  border-radius: var(--border);
  transition: 0.3s ease-in-out;
}

.filter ul li a:hover,
.filter ul li .active {
  background-color: var(--orange);
  color: black;
}

.squad {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 6em - 84px);
  min-height: calc(100svh - 6em - 84px);

  background-color: var(--primary);
  border-radius: var(--border);
  outline: 4px solid var(--orange);
}

.member {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  min-width: calc(var(--size) * 5px);
  max-width: 3em;
  background-color: black;
  outline: 5px solid var(--bg-color, --orange);
  outline-offset: -5px;

  font-size: 1.125em;
  overflow: hidden;
  cursor: pointer;
}

.member:hover,
.member:focus {
  transform: scale(0.9);
}

.member img {
  aspect-ratio: 1;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  position: fixed;
  height: 80vh;
  height: 80svh;
  width: 80vw;
  width: 80svw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 67.5em;
  min-width: 17.5em;
  z-index: 3;
  background-color: #fff;
  color: black;
  overflow: visible;
  border-radius: 30px;
  border: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.inline {
  overflow-y: auto;
  height: inherit;
  border-radius: inherit;
  max-height: 67.5em;
  min-width: 17.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p,
.card h1,
.card h2 {
  color: black;
}

.card-intro {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 1em;
}

.card img {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.card-switch {
  width: 100%;
  background-color: orange;
  border-radius: 30px 30px 0 0;
}

.content {
  padding: 1em;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.card a {
  color: black;
  text-underline-offset: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  transition: 0.2s;
  padding: 0.5em;
}

.card a:hover {
  color: var(--light);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-3em);
  color: var(--light);
  background-color: #fff;
  padding: 0.5em 2em;
  border-radius: 50px;
  border: none;
  color: black;
  font-size: 1.125em;
}

.close:hover {
  /* background-color: red; */
  outline: 4px solid red;
}

@media screen and (min-width: 600px) {
  .member {
    min-width: calc(var(--size) * 7px);
    max-width: 5em;
  }
}

@media screen and (min-width: 34em) {
  .card {
    width: auto;
    aspect-ratio: 9/16;
    min-width: 19em;
  }

  .inline {
    width: auto;
    aspect-ratio: 9/16;
    min-width: 19em;
  }
}

@media screen and (min-width: 1000px) {
  body {
    gap: 2em;
  }
  .site-title {
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }

  .filter {
    padding-top: 0;
    padding-bottom: 0;
  }

  .squad {
    min-height: calc(100vh - 6em - 34.4px);
    min-height: calc(100svh - 6em - 34.4px);
  }
}

/* scherm groote van af (544px = 34em) */
@media screen and (min-width: 34em) {
  .card-intro {
    padding: 2em;
  }

  .content {
    padding: 2em;
  }
}
